@font-face {
  font-family: jetbrains;
  src: url('../../assets/fonts/JetBrainsMono-2/fonts/ttf/JetBrainsMono-Medium.ttf');
}

* {
  text-overflow: ellipsis;
}

.m-auto {
  font-family: jetbrains !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.complete-window {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

.complete {
  font-family: jetbrains;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  box-shadow: 3px 3px 5px;
}

.reward {
  width: 100%;
  height: 100%;
  align-self: center;
  background-image: url('../../assets/img/reward.png');
  background-size: cover;
  background-position: center;
}

.m-auto * {
  font-family: inherit !important;
}

.active {
  color: white;
}

.glue-horizontal {
  height: 2vh;
}

.nav-link {
  font-size: 24px !important;
}

.nav-list {
  width: 100%;
}

.questions-pane {
  height: 90%;
  bottom: 100px;
}

.question-question {
  padding: 15px;
  color: white;
  text-decoration: underline;
}

.picture-1 {
  width: 85%;
  height: 69%;
  align-self: center;
  background-image: url('../../assets/img/lark-photos/IMG_0587.jpeg');
  background-size: cover;
  background-position: center;
}

.picture-2 {
  width: 50%;
  height: 79%;
  align-self: center;
  background-image: url('../../assets/img/lark-photos/IMG_2901.jpeg');
  background-size: cover;
  background-position: center;
}

.picture-3 {
  width: 50%;
  height: 79%;
  align-self: center;
  background-image: url('../../assets/img/lark-photos/IMG_3743.jpeg');
  background-size: cover;
  background-position: center;
}

.picture-4 {
  width: 50%;
  height: 79%;
  align-self: center;
  background-image: url('../../assets/img/lark-photos/IMG_3558.jpeg');
  background-size: cover;
  background-position: center;
}

.picture-5 {
  width: 50%;
  height: 79%;
  align-self: center;
  background-image: url('../../assets/img/lark-photos/IMG_3439.jpeg');
  background-size: cover;
  background-position: center;
}

.answer {
  display: flex;
  align-items: center;
}

.question {
  width: 85%;
  height: 85%;
  padding: 10px;
  background-color: rgba(255, 22, 11, 0.5);
}

.question h3 {

}

#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }


@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }
