<nav id="page-nav" class="navbar navbar-expand-sm navbar-primary bg-light shadow-lg p-3 mb-5 bg-white fixed-top">
  <div class="px-md-5 navbar-brand" href="#">Ben Pazienza</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-end">
      <li class="nav-item active" (click)="scrollTo('section1')">
        <div class="nav-link" href="#section1">Section 1</div>
      </li>
      <li class="nav-item" (click)="scrollTo('section2')">
        <div class="nav-link" href="#section2">Section 2</div>
      </li>
      <li class="nav-item" (click)="scrollTo('section3')">
        <div class="nav-link" href="#section3">Section 3</div>
      </li>
    </ul>
  </div>

</nav>
