<app-sidenav></app-sidenav>
<app-landing></app-landing>
<div style="height: 100vh"></div>
<div class="bg-light shadow d-flex" style="padding-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <mat-card class="bg-light text-dark">
          <mat-card-header>
            <div mat-card-avatar class="card-header"></div>
            <mat-card-title>Benjamin Pazienza</mat-card-title>
            <mat-card-subtitle class="text-dark"><a matTooltip="This is a Rocket League Reference" href="https://www.reddit.com/r/RocketLeague/comments/csme8p/spinning_car_wizard/">Spinning Car Wizard</a></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/profile.png">
          <mat-card-content>
            <p>
              I am a 4th year Computer Science BS candidate at <a matTooltip="Loyola's Website" href="https://loyola.edu">Loyola University Maryland</a>. I am currently working as a software development intern at <a matTooltip="Alert Innovation's Website" href="https://alertinnovation.com">Alert Innovation</a>. My hobbies include skateboarding, soccer, chess, and video-games! I am from Westford, MA and currently reside in Baltimore, MD.
            </p>
          </mat-card-content>
<!--          <mat-card-actions>-->
<!--&lt;!&ndash;            <button mat-button>Contact</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-button>SHARE</button>&ndash;&gt;-->
<!--          </mat-card-actions>-->


<!--          <mat-card-footer>-->
<!--            <ul class="list-group section position-sticky">-->
<!--              <li class="list-group-item"><a href="#education">Education</a></li>-->
<!--              <li class="list-group-item"><a href="#work">Work</a></li>-->
<!--              <li class="list-group-item">Section 3</li>-->
<!--            </ul>-->
<!--          </mat-card-footer>-->
        </mat-card>

      </div>
      <div class="col">
        <div id="education">
          <div class="mat-display-1 section">
            Education
          </div>
          <strong>Loyola University Maryland</strong><span class="float-right">August 2017 - present</span>
          <ul>
            <li>Computer Science BS Candidate</li>
            <li><span matTooltip="Only one grade below a B. Curse you, history">3.5 GPA</span></li>
            <li>Achieved deans list<span class="float-right">Fall 2017, Spring 2018</span></li>
            <li>Started Loyola Esports Club<span class="float-right">Spring 2020</span></li>
            <li>Expected graduation in 2021</li>
          </ul>
          <p></p>
        </div>
        <hr>
        <div id="work">
          <div class="mat-display-1 section">
            Experience
          </div>
          <strong>Alert Innovation</strong> <br>
          <span>SQA</span> Automation Intern<span class="float-right">September 2019 - present</span>
          <ul>
            <li>Created automated testing framework to run smoke tests against software releases</li>
            <li>Wrote automated smoke tests in Robot Framework which accessed software's RESTful api to execute smoke tests</li>
            <li>Worked with full stack to develop hands off automation for build, installation, startup, testing, and teardown</li>
          </ul>
          <br>
          Software Development Intern<span class="float-right">May 2019 - August 2019</span>
          <ul>
            <li>Developed java swing frontend in application for intern summer project called the 'debug package' </li>
            <li>Helped develop backend process for debug package:
            <ul>
              <li>triggers remote application server to make a zip of all logs, cache, and database dump</li>
              <li>server zips requested files (can specify what to zip on UI) and sends to client via HTTP servlet</li>
              <li>client saves zip file locally by connecting to application server's servlet and reading the output stream</li>
              <li>Gained experience with java EE, http servlets, streams, file I/O, and swing</li>
            </ul></li>
            <li>Worked with full stack to develop hands off automation for build, installation, startup, testing, and teardown</li>
          </ul>
          <br>
          <strong>Joseph A Bank</strong><br>
          Sales Associate<span class="float-right">February 2016 - August 2018</span>
          <ul>
            <li>Sold suits, pants, sweaters, shirts, ties, and several other types of formal wear</li>
            <li>Worked with customers to find correct sizes of suits and shirts as well as suggested combinations</li>
            <li>Organized wedding parties for both rental and purchasing suites, as well as formal dances for high school students</li>
            <li>Certified to measure customers for a tailored suit to be made from scratch to fit the customer</li>
          </ul>
        </div>
        <hr>
        <div id="programming">
          <div class="mat-display-1 section">
            Programming
          </div>
          <strong>Languages</strong>
          <ul>
            <li>Java, C++, C, Python, Swift, Golang (intermediate)</li>
            <li>Javascript, HTML, CSS, Php</li>
            <li>Bash, Git, Unix, SQL</li>
          </ul>
          <br>
          <strong>Frameworks / Tools</strong>
          <ul>
            <li>Angular, RobotFramework, Selenium, Spring, MongoDB, Docker</li>
            <li>Jenkins, Jira, Bitbucket, Github, Bamboo, JetBrains, Xcode</li>
          </ul>
          <strong>Personal Projects</strong> - (School related projects can be found on my <a href="https://github.com/littlepazienza">Github</a>)
          <ul>
            <li>
              <a href="https://github.com/littlepazienza/chess/tree/java">Java Swing Chess</a><span class="float-right">November 2018</span>
              <ul>
                <li>Chess Application written in java with java swing frontend</li>
                <li>App functionality includes account creation, rankings, multiplayer (local and remote)</li>
                <li>Gained experience with sockets, java swing, and game engine control flow</li>
              </ul>
            </li>
            <li><a href="https://github.com/littlepazienza/chess">Electron Chess</a><span class="float-right">September 2019</span>
              <ul>
                <li>Chess Application written with Electron, HTML / CSS for UI and javascript for backend</li>
                <li>App functionality includes account creation, rankings, viewing old games, multiplayer (remote)</li>
                <li>Server backend in the form of a spring boot application with MongoDB database for games</li>
                <li>Control games via REST calls to spring boot</li>
                <li>Gained experience with more complicated server applications, databases, web development, mongoDB, spring, ajax</li>
              </ul>
            </li>
            <li><a href="https://github.com/damorales9/BarFly-2.0">BarFly</a><span class="float-right">September 2019</span>
              <ul>
                <li>IOS App for college students to see where what bars and restaurants their friends are going to</li>
                <li>Used Google Firebase to control account creation, user and bar/restaurant databases</li>
                <li>Learned swift and objective-c for working with firebase and database synching on the app backend</li>
                <li>Gained experience with IOS, Xcode, Firebase, Swift</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="area d-flex" style="background-color: green; padding-top: 50px; padding-bottom: 150px">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  <div class="container">
    <div class="row d-flex justify-content-center m-4">
      <div class="col-3 d-none d-md-block"></div>
      <div class="col d-flex justify-content-between">
        <div class="text-center animate__animated animate__pulse" style="animation-iteration-count: infinite; animation-duration: 5s">
          <app-icon width="60px" height="60px" bgSize="50px 20px" url="url('assets/img/GitHub_Logo.png')" href="https://github.com/littlepazienza/pazienza-tech" matTooltip="Github" style="align-self: center"></app-icon>
          <p style="margin-top: 10px; font-size: 12px; font-family: Roboto, 'Helvetica Neue', sans-serif !important;">Source Code</p>
        </div>
        <div class="text-center animate__animated animate__pulse" style="animation-iteration-count: infinite; animation-duration: 6s">
          <app-icon width="60px" height="60px" bgSize="40px 50px" url="url('assets/img/jenkins.png')" href="http://jenkins.paz.ienza.tech/job/pazienza-tech/job/master" matTooltip="Jenkins" style="align-self: center"></app-icon>
          <p style="margin-top: 10px; font-size: 12px; font-family: Roboto, 'Helvetica Neue', sans-serif !important;">CI/CD</p>
        </div>
        <div class="text-center animate__animated animate__pulse" style="animation-iteration-count: infinite; animation-duration: 4s">
          <app-icon width="60px" height="60px" bgSize="50px 50px" url="url('assets/img/angular-color.png')" href="https://angular.io" matTooltip="Angular" style="align-self: center"></app-icon>
          <p style="margin-top: 10px; font-size: 12px; font-family: Roboto, 'Helvetica Neue', sans-serif !important;">Framework</p>
        </div>
        <div class="text-center animate__animated animate__pulse" style="animation-iteration-count: infinite; animation-duration: 3s">
          <app-icon width="60px" height="60px" bgSize="40px 50px" url="url('https://img.icons8.com/color/100/000000/linode.png')" href="http://linode.com" matTooltip="Linode" style="align-self: center"></app-icon>
          <p style="margin-top: 10px; font-size: 12px; font-family: Roboto, 'Helvetica Neue', sans-serif !important;">Hosting</p>
        </div>
      </div>
      <div class="col-3 d-none d-md-block"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
