<app-sidenav></app-sidenav>
<app-landing></app-landing>
<div class="bg-light shadow-lg d-flex" style="margin-top: 100vh; padding-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <mat-card class="bg-light text-dark">
          <mat-card-header>
            <div mat-card-avatar class="card-header"></div>
            <mat-card-title>Benjamin Pazienza</mat-card-title>
            <mat-card-subtitle class="text-dark"><a matTooltip="This is a Rocket League Reference" href="https://www.reddit.com/r/RocketLeague/comments/csme8p/spinning_car_wizard/">Spinning Car Wizard</a></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/profile.png">
          <mat-card-content>
            <p>
              I am a 4th year Computer Science BS candidate at <a matTooltip="Loyola's Website" href="https://loyola.edu">Loyola University Maryland</a>. I am currently working as a software development intern at <a matTooltip="Alert Innovation's Website" href="https://alertinnovation.com">Alert Innovation</a>. My hobbies include skateboarding, soccer, chess, and video-games! I am from Westford, MA and currently reside in Baltimore, MD.
            </p>
          </mat-card-content>
<!--          <mat-card-actions>-->
<!--&lt;!&ndash;            <button mat-button>Contact</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-button>SHARE</button>&ndash;&gt;-->
<!--          </mat-card-actions>-->


          <mat-card-footer>
            <ul class="list-group section position-sticky">
              <li class="list-group-item"><a href="#education">Education</a></li>
              <li class="list-group-item"><a href="#work">Work</a></li>
              <li class="list-group-item">Section 3</li>
            </ul>
          </mat-card-footer>
        </mat-card>

      </div>
      <div class="col">
        <div id="education">
          <div class="mat-display-2 section">
            Education
          </div>
          <strong>Loyola University Maryland</strong><span class="float-right">August 2017 - present</span>
          <mat-list>
            <mat-list-item>Computer Science BS Candidate</mat-list-item>
            <mat-list-item><span matTooltip="Only one grade below a B. Curse you, history">3.5 GPA</span></mat-list-item>
            <mat-list-item>Achieved deans list<span class="float-right">Fall 2017, Spring 2018</span></mat-list-item>
            <mat-list-item>Started Loyola Esports Club<span class="float-right">Spring 2020</span></mat-list-item>
          </mat-list>
          <p></p>
        </div>
        <hr>
        <div id="work">
          <div class="mat-display-2 section">
            Work
          </div>
          <strong>Alert Innovation</strong> - Software Development Intern<span class="float-right">May 2019 - present</span>
          <ul>
            <li>Created automated testing framework to run smoke tests against software releases</li>
            <li>Wrote automated smoke tests in Robot Framework which accessed company RESTful api to execute smoke tests</li>
            <li>Worked with full stack to develop hands off automation for build, installation, startup, testing, and teardown</li>
          </ul>
        </div>
        <hr>
        <div id="section3">
          <div class="display-4 section">
            Section 3
          </div>
          <p>Ut enim blandit volutpat maecenas volutpat. Vestibulum lorem sed risus ultricies. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Odio tempor orci dapibus ultrices in iaculis nunc sed augue. Lacus laoreet non curabitur gravida. Nam at lectus urna duis convallis convallis tellus. Aenean et tortor at risus viverra adipiscing. Bibendum enim facilisis gravida neque convallis a cras semper. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Tortor at risus viverra adipiscing at.

          Mauris cursus mattis molestie a iaculis at erat. Condimentum lacinia quis vel eros donec ac odio tempor. Amet mauris commodo quis imperdiet massa. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo. Neque vitae tempus quam pellentesque nec nam aliquam sem et. Consequat interdum varius sit amet mattis vulputate enim nulla aliquet. Ultricies mi quis hendrerit dolor magna eget. Amet luctus venenatis lectus magna. Purus non enim praesent elementum facilisis leo. Sagittis orci a scelerisque purus semper. At tempor commodo ullamcorper a lacus vestibulum sed arcu.</p></div>
      </div>
    </div>
  </div>
</div>
<div class="bg-secondary shadow-lg d-flex">
  <div class="container">
    <div class="row d-flex justify-content-center m-4">
      <div class="col-3 d-none d-md-block"></div>
      <div class="col d-flex justify-content-between">
        <div class="text-center animate__animated animate__pulse" style="animation-iteration-count: infinite; animation-duration: 5s">
          <app-icon width="60px" height="60px" bgSize="50px 20px" url="url('assets/img/GitHub_Logo.png')" href="https://github.com/littlepazienza/pazienza-tech" matTooltip="Github" style="align-self: center"></app-icon>
          <p style="margin-top: 10px; font-size: 12px; font-family: Roboto, 'Helvetica Neue', sans-serif !important;">Source Code</p>
        </div>
        <div class="text-center animate__animated animate__pulse" style="animation-iteration-count: infinite; animation-duration: 6s">
          <app-icon width="60px" height="60px" bgSize="40px 50px" url="url('assets/img/jenkins.png')" href="http://jenkins.paz.ienza.tech/job/pazienza-tech/job/master" matTooltip="Jenkins" style="align-self: center"></app-icon>
          <p style="margin-top: 10px; font-size: 12px; font-family: Roboto, 'Helvetica Neue', sans-serif !important;">CI/CD</p>
        </div>
        <div class="text-center animate__animated animate__pulse" style="animation-iteration-count: infinite; animation-duration: 4s">
          <app-icon width="60px" height="60px" bgSize="50px 50px" url="url('assets/img/angular-color.png')" href="https://angular.io" matTooltip="Angular" style="align-self: center"></app-icon>
          <p style="margin-top: 10px; font-size: 12px; font-family: Roboto, 'Helvetica Neue', sans-serif !important;">Framework</p>
        </div>
        <div class="text-center animate__animated animate__pulse" style="animation-iteration-count: infinite; animation-duration: 3s">
          <app-icon width="60px" height="60px" bgSize="40px 50px" url="url('https://img.icons8.com/color/100/000000/linode.png')" href="http://linode.com" matTooltip="Linode" style="align-self: center"></app-icon>
          <p style="margin-top: 10px; font-size: 12px; font-family: Roboto, 'Helvetica Neue', sans-serif !important;">Hosting</p>
        </div>
      </div>
      <div class="col-3 d-none d-md-block"></div>
    </div>
    <div class="d-flex justify-content-center mat" style="margin-top: 50px;">
        <!--build_number-->Number
    </div>
  </div>
</div>

<router-outlet></router-outlet>
