<div class="resume">
  <div id="work">
    <h2>
      Experience
    </h2>
    <strong>Walmart Advanced Systems & Robotics - <i>Andover, MA</i></strong> <span class="float-right">November 2022 - Present</span>
    <br>
    Software Engineer III, Robot Control System
    <br>
    <div class="row">
      <div class="col col-9">
        <ul>
          <li>Designed <strong>combinatorial optimizer</strong> to score possible plans for coordination of fleet tasking</li>
          <li>Worked with in house ML team to design a statistical model for the system for use in the combinatorial optimization</li>
          <li>Alongside feature development, worked with team to deliver sub-optimizations and bugfixes to the production software</li>  
        </ul>
        <strong>Skills: </strong> Combinatorial Optimization, Probabilistic Modeling, Java
        <br><br>
        Software Engineer II, Robot Control System
        <br>
        <ul>
          <li>Site support troubleshooting high priority bugs, finding fixes, and submitting patches</li>
          <li>Lead development of a large optimization feature aiming at improving coordination of fleet tasking</li>
          <li>Designed an optimized model for system wide robot charging to improve the system's ability to manage charge for more bots</li>
        </ul>
        <strong>Skills: </strong> On-site Support, Optimization, Feature ownership, Java
      </div>
      <div class="col col-3"></div>
    </div>
    <br>
    <strong>Alert Innovation - <i>North Billerica, MA & Andover, MA</i></strong> <span class="float-right">May 2019 - November 2022</span>
    <br>
    Software Engineer I & II, Robot Control System
    <br>
    <div class="row">
      <div class="col col-9">
        <ul>
          <li>Developed software responsible for routing & tasking the Alphabot fleet using <strong>Multi-Agent Path Finding</strong></li>
          <li>Worked in a live production environment supporting patches while also sprinting on features for production releases</li>
          <li>Acquired as a developer for <strong>Walmart Advanced Systems & Robotics</strong> as a part of a larger <a href="https://www.businesswire.com/news/home/20221006005563/en/Alert-Innovation-Signs-Definitive-Agreement-to-Be-Acquired-by-Walmart">aquisition</a></li>
        </ul>
        <strong>Skills: </strong> Multi-Agent Path Finding, Java, Release Management, Akka, A-Star, TCP, SDLC
        <br><br>
        Software Engineer Intern
        <br>
        <ul>
          <li>Created automated testing framework to run smoke tests via REST calls & Robot Framework</li>
          <li>Developed remote application server working with the file system and Java servlets</li>
        </ul>
        <strong>Skills: </strong> SQA, Python, Java, J2EE, HTTP, REST, OS, Robot Framework
      </div>
      <div class="col col-3"></div>
    </div>
  </div>
  <hr>
  <div id="education">
    <h2>
      Education
    </h2>
    <strong>Bachelor of Science in Computer Science - Loyola University Maryland</strong><span class="float-right">August 2017 - May 2021</span><br>
    Loyola University Maryland - <i>Baltimore, MD</i>
    <ul>
      <li>Upsilon Pi Epsilon Computer Science Honors</li>
      <li>Achieved deans list</li>
      <li>Started Loyola Esports Club</li>
    </ul>
    Newcastle University - <i>Newcastle upon Tyne, United Kingdom</i><span class="float-right">September 2019 - December 2019</span>
    <ul>
      <li>Fall semester abroad</li>
    </ul>
    <p></p>
  </div>
  <hr>
  <div id="programming">
    <h2>
      Programming
    </h2>
    <strong>Languages</strong>
    <ul>
      <li>Java, C++, C, Rust, Python, Swift, Golang</li>
      <li>Javascript, HTML, CSS, Php, Proto</li>
      <li>Bash, Git, Unix, SQL</li>
    </ul>
    <strong>Frameworks / Tools</strong>
    <ul>
      <li>Angular, RobotFramework, Selenium, Spring, MongoDB, Docker, Redis, REST, gRPC, Akka</li>
      <li>Jenkins, Jira, Bitbucket, Github, Gitlab, Bamboo, JetBrains, Xcode</li>
    </ul>
    <strong>Personal Projects</strong> - (More related projects can be found on my <a href="https://github.com/littlepazienza">Github</a>)
    <br>
    <a href="https://github.com/damorales9/BarFly-2.0">BarFly</a><span class="float-right">April 2019</span>
    <div class="row">
      <div class="col col-9">
        <ul>
          <li>IOS App for college students to see where what bars and restaurants their friends are going to</li>
          <li>Used Google Firebase to control account creation, user and bar/restaurant databases</li>
          <li>Learned swift and objective-c for working with firebase and database synching on the app backend</li>
          <li>Gained experience with IOS, Xcode, Firebase, Swift</li>
        </ul>
      </div>
      <div class="col col-3"></div>
    </div>
    <a href="https://github.com/littlepazienza/url-shortener">Url Shortener</a> -- <a href="https://manage.url.ienza.tech">Live Demo</a><span class="float-right">April 2021</span>
    <div class="row">
      <div class="col col-9">
        <ul>
          <li>Rust microservice which integrates with MongoDB to allow users to get shorter URLs</li>
          <li>Learned Rust in order to write the functions to integrate with MongoDB and expose endpoints</li>
          <li>Gained more experience with internet protocols, responses, requests, and RESTful APIs</li>
          <li>Made a simple website to access the API (HTML, Theme from <a href="https://creative-tim.com">Creative Tim</a>)</li>
        </ul>
      </div>
      <div class="col col-3"></div>
    </div>
  </div>
  <a href="https://github.com/littlepazienza/kalman-demo">Kalman Demo</a> -- <a href="https://kalman.ienza.tech/dist">Live Demo</a><span class="float-right">August 2024 (In progress)</span>
    <div class="row">
      <div class="col col-9">
        <ul>
          <li>Rust & Web Assebmly demo of a single agent navigating using Kalman filters</li>
          <li>Introduction to the wasm + rust project, compiling rust into JS libraries</li>
          <li>Working with Kalman filters to get some experience with statistical modeling with robotics</li>
        </ul>
      </div>
      <div class="col col-3"></div>
    </div>
</div>
