<div id="education">
  <h1>
    Education
  </h1>
  <strong>Bachelor of Science in Computer Science - Loyola University Maryland</strong><span class="float-right">August 2017 - May 2021</span><br>
  Loyola University Maryland - <i>Baltimore, MD</i>
  <ul>
    <li>Upsilon Pi Epsilon Computer Science Honors</li>
    <li>Achieved deans list<span class="float-right">Fall 2017, Spring 2018</span></li>
    <li>Started Loyola Esports Club<span class="float-right">Spring 2020</span></li>
  </ul>
  Newcastle University - <i>Newcastle upon Tyne, United Kingdom</i><span class="float-right">September 2019 - December 2019</span>
  <ul>
    <li>Fall semester abroad</li>
  </ul>
  <p></p>
</div>
<hr>
<div id="work">
  <h1>
    Experience
  </h1>
  <strong>Walmart Advanced Systems & Robotics - <i>Andover, MA</i></strong> <span class="float-right">Novemeber 2022 - Present</span><br>
  Software Engineer III, Robot Control System <i>- Since January 2024</i><br>
  <ul>
    <li>Developed a task coordination framework and robust metrics driven implementation for submitting tasks to the system's robots</li>
    <li>Worked to deliver optimizations alongside the rest of the Walmart teams to deliver simultaneous improvements to customer metrics</li>  
  </ul>
  <strong>Skills: </strong> Optimization, Feature ownership, Java<br><br>
  Software Engineer II, Robot Control System <i>- 13 months</i><br>
  <ul>
    <li>Site support troubleshooting high priority bugs, finding fixes, and submitting patches</li>
    <li>Lead development of a large optimization feature aiming to increase customer metrics by improving systemic task coordination</li>
    <li>Designed an optimization model for system wide robot charging to improve the system's ability to manage charge for more bots</li>
  </ul>
  <strong>Skills: </strong> On-site Support, Optimization, Feature ownership, Java<br><br>
  <strong>Alert Innovation - <i>North Billerica, MA & Andover, MA</i></strong> <span class="float-right">May 2019 - November 2022</span><br>
  Software Engineer I & II, Robot Control System <i>- 18 months</i><br>
  <ul>
    <li>Developing Robot Control System (<strong>RCS</strong>) to control the movement in the Walmart structure of Alert's Alphabots</li>
    <li>Gained experience working in a live production environment, fixing bugs for patches, and stabilizing features for production releases</li>
    <li>Continued work on <strong>RCS</strong>, worked with the low level components of bot routing using A-Star & PLC communication via TCP</li>
    <li>Acquired as a developer for <strong>Walmart Advanced Systems & Robotics</strong> as a part of a larger <a href="https://www.businesswire.com/news/home/20221006005563/en/Alert-Innovation-Signs-Definitive-Agreement-to-Be-Acquired-by-Walmart">aquisition</a></li>
  </ul>
  <strong>Skills: </strong> Multi-Agent Path Finding, Java, Release Management, Akka, A-Star, TCP, SDLC<br><br>
  Software Engineer Intern <i>- 2 years</i><br>
  <ul>
    <li>Created automated testing framework to run automated smoke tests in Robot Framework which accessed software's RESTful api</li>
    <li>Helped develop backend process for remote application server, learned to work with the file system and HTTP servlets</li>
  </ul>
  <strong>Skills: </strong> Testing, Python, Java, J2EE, HTTP, REST, Operating Systems
</div>
<hr>
<div id="programming">
  <h1>
    Programming
  </h1>
  <strong>Languages</strong>
  <ul>
    <li>Java, C++, C, Rust, Python, Swift, Golang</li>
    <li>Javascript, HTML, CSS, Php, Proto</li>
    <li>Bash, Git, Unix, SQL</li>
  </ul>
  <br>
  <strong>Frameworks / Tools</strong>
  <ul>
    <li>Angular, RobotFramework, Selenium, Spring, MongoDB, Docker, Redis, REST, gRPC, Akka</li>
    <li>Jenkins, Jira, Bitbucket, Github, Gitlab, Bamboo, JetBrains, Xcode</li>
  </ul>
  <strong>Personal Projects</strong> - (More related projects can be found on my <a href="https://github.com/littlepazienza">Github</a>)
  <ul>
    <li>
      <a href="https://github.com/littlepazienza/chess/tree/java">Java Swing Chess</a><span class="float-right">November 2018</span>
      <ul>
        <li>Chess Application written in java with java swing frontend</li>
        <li>App functionality includes account creation, rankings, multiplayer (local and remote)</li>
        <li>Gained experience with sockets, java swing, and game engine control flow</li>
      </ul>
    </li>
    <li><a href="https://github.com/littlepazienza/chess">Electron Chess</a><span class="float-right">September 2019</span>
      <ul>
        <li>Chess Application written with Electron, HTML / CSS for UI and javascript for backend</li>
        <li>App functionality includes account creation, rankings, viewing old games, multiplayer (remote)</li>
        <li>Server backend in the form of a spring boot application with MongoDB database for games</li>
        <li>Control games via REST calls to spring boot</li>
        <li>Gained experience with more complicated server applications, databases, web development, mongoDB, spring, ajax</li>
      </ul>
    </li>
    <li><a href="https://github.com/damorales9/BarFly-2.0">BarFly</a><span class="float-right">April 2019</span>
      <ul>
        <li>IOS App for college students to see where what bars and restaurants their friends are going to</li>
        <li>Used Google Firebase to control account creation, user and bar/restaurant databases</li>
        <li>Learned swift and objective-c for working with firebase and database synching on the app backend</li>
        <li>Gained experience with IOS, Xcode, Firebase, Swift</li>
      </ul>
    </li>
    <li><a href="https://github.com/littlepazienza/url-shortener">Url Shortener</a> -- <a href="https://manage.url.ienza.tech">Live Demo</a><span class="float-right">April 2021</span>
      <ul>
        <li>Rust microservice which integrates with MongoDB to allow users to get shorter URLs</li>
        <li>Learned Rust in order to write the functions to integrate with MongoDB and expose endpoints</li>
        <li>Gained more experience with internet protocols, responses, requests, and RESTful APIs</li>
        <li>Made a simple website to access the API (HTML, Theme from <a href="https://creative-tim.com">Creative Tim</a>)</li>
      </ul>
    </li>
  </ul>
</div>
