/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background-color: white; margin: 0;}

html, body { height: 100%; }
body { margin: 0;}

.build-number {
  font-size: 10px; font-family: Roboto, 'Helvetica Neue', sans-serif !important ;padding-top: 50px;padding-bottom: 10px;position: absolute; width: 100%;
}
